<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informations du Couple - Gestion des Mariages Civils</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/app/css/flowbite.min-2.3.0.css' %}">
    <script src="{% static '/app/js/flowbite.min-2.3.0.js' %}"></script>
    <script src="{% static '/app/js/gsap.min.js'%}"></script>

    <link rel="stylesheet" href="{% static '/app/css/all.min.css' %}">
    <link href="{% static '/app/css/css2.css' %}" rel="stylesheet">
    <script src="{% static '/app/js/chart.js' %}"></script>
    <style>
        body {
            font-family: 'Poppins', sans-serif;
            background-color: #f0f4f8;
        }
        .info-card {
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease;
        }
        .info-card:hover {
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
        }
        .div-man{
            margin-left:200px;
        }
    </style>
</head>
<body class="bg-gray-100">
    
    {% include "app/gabarits/horizontal_menu.html" %}

{% comment %} ----------------------------------------------------- {% endcomment %}
   
    <div class="div-man px-4">
        {% include "app/gabarits/header_menu.html" with title="Information du couple" %}
        
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div class="info-card p-6">
                <h2 class="text-2xl font-semibold mb-4">Détails du Couple</h2>
                <div class="grid grid-cols-2 gap-4">
                    <div>
                        <h3 class="font-semibold">Partenaire 1</h3>
                        <p>Nom:{{marriage.couple.person1.firstname}}</p>
                        <p>Prénom: {{marriage.couple.person1.lastname}}</p>
                        <p>Date de naissance: {{marriage.couple.person1.date_of_birth}}</p>
                        <p>Lieu de naissance: {{marriage.couple.person1.place_of_birth}}</p>
                        <p>Nationalité: {{marriage.couple.person1.nationality}}</p>
                    </div>
                    <div>
                        <h3 class="font-semibold">Partenaire 2</h3>
                        <p>Nom:{{marriage.couple.person2.firstname}}</p>
                        <p>Prénom: {{marriage.couple.person2.lastname}}</p>
                        <p>Date de naissance: {{marriage.couple.person2.date_of_birth}}</p>
                        <p>Lieu de naissance:{{marriage.couple.person2.place_of_birth}}</p>
                        <p>Nationalité: {{marriage.couple.person2.nationality}}</p>
                    </div>
                </div>

                {% comment %} <a href="{% url 'infoCouple_update' marriage.couple.id  %}">
                <button class="bg-green-500 text-white px-6 py-2 rounded-full hover:bg-green-800 transition">Modifier</button>
                </a> {% endcomment %}
            </div>
            
            <div class="info-card p-6 ">
                <h2 class="text-2xl font-semibold mb-4">Détails du Mariage</h2>
                <p><strong>Date du mariage:</strong> {{marriage.celebration_date}}</p>
                <p><strong>Lieu:</strong> {{marriage.celebration_place}}</p>
                <p><strong>Officier d'état civil:</strong>  {{marriage.officer.user.person.firstname}}   {{marriage.officer.user.person.lastname}}</p>
                <p><strong>Témoins:</strong> 
                
                    {% for witness in witness %}
                        
                    {{witness.person.firstname}}  {{witness.person.lastname}}  ,
                    {% endfor %}
                
                
                </p>

            </div>
            <a href="{% url 'update_couple' marriage.couple.id  %}" class="block text-center mt-4 bg-green-500 text-white px-6 py-2 rounded-full hover:bg-green-800 transition   mt-10 ">Modifier</a>

        </div>
        
        
        
        
    </div>

</body>
</html>