<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informations du Couple - Gestion des Mariages Civils</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/app/css/flowbite.min-2.3.0.css' %}">
    <script src="{% static '/app/js/flowbite.min-2.3.0.js' %}"></script>
    <script src="{% static '/app/js/gsap.min.js'%}"></script>

    <link rel="stylesheet" href="{% static '/app/css/all.min.css' %}">
    <link href="{% static '/app/css/css2.css' %}" rel="stylesheet">
    <script src="{% static '/app/js/chart.js' %}"></script>
    <style>
        body {
            font-family: 'Poppins', sans-serif;
            background-color: #f0f4f8;
        }
        .info-card {
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease;
        }
        .info-card:hover {
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
        }
        .div-man{
            margin-left:200px;
        }
    </style>
</head>
<body class="bg-gray-100">
    
    {% include "app/gabarits/horizontal_menu.html" %}

{% comment %} ----------------------------------------------------- {% endcomment %}
   
    <div class="div-man px-4">
        {% include "app/gabarits/header_menu.html" with title="Information du couple" %}
        
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div class="info-card p-6">
                <h2 class="text-2xl font-semibold mb-4">Détails du Couple</h2>
                <div class="grid grid-cols-2 gap-4">
                    <div>
                        <h3 class="font-semibold">Partenaire 1</h3>
                        <p>Nom:{{marriage.couple.person1.firstname}}</p>
                        <p>Prénom: {{marriage.couple.person1.lastname}}</p>
                        <p>Date de naissance: {{marriage.couple.person1.date_of_birth}}</p>
                        <p>Lieu de naissance: {{marriage.couple.person1.place_of_birth}}</p>
                        <p>Nationalité: {{marriage.couple.person1.nationality}}</p>
                    </div>
                    <div>
                        <h3 class="font-semibold">Partenaire 2</h3>
                        <p>Nom:{{marriage.couple.person2.firstname}}</p>
                        <p>Prénom: {{marriage.couple.person2.lastname}}</p>
                        <p>Date de naissance: {{marriage.couple.person2.date_of_birth}}</p>
                        <p>Lieu de naissance:{{marriage.couple.person2.place_of_birth}}</p>
                        <p>Nationalité: {{marriage.couple.person2.nationality}}</p>
                    </div>
                </div>

                {% comment %} <a href="{% url 'infoCouple_update' marriage.couple.id  %}">
                <button class="bg-green-500 text-white px-6 py-2 rounded-full hover:bg-green-800 transition">Modifier</button>
                </a> {% endcomment %}
            </div>
            
            <div class="info-card p-6 ">
                <h2 class="text-2xl font-semibold mb-4">Détails du Mariage</h2>
                <p><strong>Date du mariage:</strong> {{marriage.celebration_date}}</p>
                <p><strong>Lieu:</strong> {{marriage.celebration_place}}</p>
                <p><strong>Officier d'état civil:</strong>  {{marriage.officer.user.person.firstname}}   {{marriage.officer.user.person.lastname}}</p>
                <p><strong>Témoins:</strong> 
                
                    {% for witness in witness %}
                        
                    {{witness.person.firstname}}  {{witness.person.lastname}}  ,
                    {% endfor %}
                
                
                </p> {% if  user.is_superuser %}
                <form method="post" action="{%url 'infoCouple_update_status' marriage.couple.id  %}">
                    {% csrf_token %}
                    
                <h3 class="mb-4 font-semibold text-gray-900 dark:text-white">Status ={{status}}</h3>
                <ul class="items-center w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg sm:flex dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                    <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                        <div class="flex items-center ps-3">
                            <input id="horizontal-list-radio-license" type="radio" value="Valide" name="list-radio" {%if valide %}checked {%endif%} class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                            <label for="horizontal-list-radio-license" class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Valide</label>
                        </div>
                    </li>
                    <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                        <div class="flex items-center ps-3">
                            <input id="horizontal-list-radio-id" type="radio" value="En attente"{%if en_attente  %}checked {%endif%}  name="list-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                            <label for="horizontal-list-radio-id" class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">En attente</label>
                        </div>
                    </li>
                    <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                        <div class="flex items-center ps-3">
                            <input id="horizontal-list-radio-military" type="radio" value="Non valide" {%if non_valide %}checked {%endif%}  name="list-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                            <label for="horizontal-list-radio-military" class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Non valide</label>
                        </div>
                    </li>
                    <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">

                            <input id="change" type="submit" value="validate change" name="validate" class="w-full p-3  h-full text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                       
                    </li>
                </ul>
            </form>
            {% endif %}
            </div>
            
            <a href="{% url 'update_couple' marriage.couple.id  %}" class="block text-center mt-4 bg-green-500 text-white px-6 py-2 rounded-full hover:bg-green-800 transition   mt-10 ">Modifier</a>

        </div>
        
        
        
        
    </div>

</body>
</html>